.mfsDatesButtons { font-size:12px; margin:3px 0 0 0; }
.mfsPopListScroll { height:85%; overflow:scroll; }
.mfsPhoneCall { background-color:#eee; border-radius:5px; margin:0 0 10px 0; padding:10px 0; }
.mfsBadgeTop { margin-top:-3px; }
.contactBtnMargin { margin:10px 0; }
.badge-danger {
  background-color: #d43f3a;
}
.badge-warning {
background-color: #d58512;
}

.badge-success {
background-color: #398439;
}

.badge-info {
background-color: #269abc;
}

.badge-inverse {
background-color: #333333;
}
.row { margin-left:0px; margin-right:0px; }
.list-group-item i { font-size:18px; }
	.borderNone { border:none; }
    .clearfix { clear: both; }
    .mfsTitle {
        background-color: #000;
        color: #fff;
        padding: 20px;
    }
	.mfsTitle img { width:50%; }
    .mfsTopNavIcon {font-size: 24px; margin-top: -8px; margin-bottom: -6px;}
    .mfsTopnav {
        text-align: right;
        background-color: #000;
        color: #fff;
        padding: 20px;
    }
	.mfsTopnav a:link {color:#fff;}
	.mfsTopnav a:visited {color:#fff;}
	.mfsTopnav a:hover {color:#fff;}
	.mfsTopnav a:active {color:#fff;}
	
	.mfsPresentationBTNS { font-size:16px; margin: -6px 0 -5px 0; }
	
    .mfsTitle2 {
        background-color: rgba(0, 0, 0, 0.5);
        color: #000;
        padding: 20px;
    }
	
	.mfsDashTitle { font-weight:bold; font-size:18px; }
    
    .mfsTopnav2 {
        text-align: right;
        background-color: rgba(0, 0, 0, 0.5);
        color: #000;
        padding: 20px;
    }
    
    .mfsLeftnav {
        /*background-color: #eee;*/
        padding: 0px;
        height: 100%;
    }
    
    .mfsLeftnav div {
        margin: 10px 0;
        text-align: center;
        font-size: 10px;
        padding: 10px 0;
    }
    
    .mfsLeftnav i {
        /*font-size: 30px;*/
        font-size: 18px;
    }
    
	.mfsNavLeftDivLAST { position:absolute; bottom:0px; }
	
    .mfsBodycontainer {
        /*padding: 10px;*/
        height: calc(100vh - 60px);
    }
    
    .mfsBody {
        background-color: #fff;
        height: 100%;
		/*padding:10px 10px 0 10px;*/
		padding:20px 10px 0 10px;
    }
    
    .mfsNavLeftDiv {
        /*background-color: #eee;*/
    }
    
    .mfsNavLeftDivSELECTED {
        background-color: #fff;
    }
    
    .displayNone {
        display: none;
    }
    
    .contentBox {
        background-color: #fff;
        display: block;
        z-index: 50;
        overflow-y: auto;
    }
    
    .contentBox iframe {
        width: 100%;
        /*height: 100%;*/
        scroll-behavior: auto;
    }
    
    #rnln {
        padding: 8px 20px;
    }
    
    #rnln li {
        display: inline-block;
        width: 20%;
        text-align: center;
        color: #000;
        font-size: 20px;
    }
    
    .fullHeight {
        height: 100%;
    }
    
    .fullHeight2 {
        height: 100%;
    }
    
    .mfsInput {
        margin: -7px 0 -7px 0;
    }
    .mfsBubble { border:1px solid #337ab7; border-radius:5px; padding: 5px; margin: 0 5px; text-align: center; }
    .mfsBubble2 { margin: 0 5px; }
    .mfsBubble3 { margin: 0 5px; line-height:30px; }

    .mfsNotesTitle { font-size:22px; }
    .noteGrid {
        /*width: 30%;*/
        margin: 0 0 20px 0;
        float: left;
        border: 3px solid #fff;
        background-color: #f8f8f8;
        height: 40vh;
        padding:0px;
        overflow: hidden;
    }
    .companyGrid {
        /*width: 30%;*/
        margin: 0 0 20px 0;
        float: left;
        border: 3px solid #fff;
        background-color: #f8f8f8;
        /*min-height: 50vh;*/
        padding:0px;
    }
    
    .companyGrid_logo {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        border: 1px solid #ccc;
        position: relative;
        left: 50%;
        margin: 0px 0px 30px -60px;
        background-image: url('img/logo1.jpg');
        background-size: contain;
    }
    
    .companyGrid_mid {
        width: 100%;
        background-color: #363738;
        color: #fff;
        text-align: center;
        padding: 5px 0;
    }
    
    .companyGrid_info {
        font-size: 14px;
        font-family: 'Lato';
        padding: 0 20px;
    }
    
    .companyRow {
        width: calc(100% - 50px);
        float: left;
        border: 3px solid #eee;
        background-color: #f8f8f8;
        margin: 20px 0 0 20px;
        font-size: 14px;
        font-family: 'Lato';
    }
    
    .companyRow_icon {
        width: 100px;
        height: 100px;
        border: 1px solid #ccc;
        border-radius: 50px;
        background-image: url('img/logo1.jpg');
        background-size: contain;
        float: left;
        margin: 20px 0 0 20px;
    }
    
    .companyRow_copy {
        float: left;
        margin: 20px 0 0 20px;
    }
    
    .companyRow_right {
        float: right;
        font-size: 10px;
        padding: 20px 20px 0 0;
        text-align: center;
        display: inline-block;
    }
    
    .companyRow_bubble {
        border: 1px solid #0074C3;
        border-radius: 10px;
        font-size: 30px;
        padding: 10px;
        margin: 10px 0;
    }
    
    .companyRow_bubble span {
        font-size: 14px;
        color: green;
    }
    
    .companyRow_notes {
        width: calc(100% - 80px);
        padding: 20px;
        margin: 20px;
        background-color: #ddd;
        clear: both;
    }
    .mfsRow { border-bottom:1px solid #aaa; background-color: #fff; padding: 10px 10px 40px 10px; margin: 0 0 40px 0; }
    .mfsRowNotes { background-color: #f8f8f8; padding: 10px; }
    
    .notePadding {
        padding: 20px;
    }
    .noteRow {width: calc(100% - 85px); color: #999;}
    .noteRow i {font-size: 20px;}
    
    .notePadding table {
        width: 100%;
    }
    
    .notePadding i {
        font-size: 25px;
    }
    
    .notePadding td {
        padding: 0 0 20px 0;
    }
    
    .notePadding td:first-child {
        text-align: left;
        color: #999;
    }
    
    .notePadding td:nth-child(2) {
        text-align: right;
        color: #999;
    }
    
    .notePadding span {
        color: #000;
    }
    .dashTitle { width: 90%; border-bottom: 1px solid #ccc; padding: 0 0 10px 0; text-align: left; font-size: 18px; color: #000; }
    .dashBody { width: 90%; padding: 0 0 10px 0; text-align: left; vertical-align: text-top; font-size: 18px; font-family: "Lato"; line-height: 20px; }

    .dashDate {width: 100%; margin: 0 0 20px 0; border-bottom: 1px solid #ccc; text-align: left;}
    .dashDate div {border:1px solid #eee; color: blue; font-size: 14px; text-align: center; padding: 10px; margin: 0 20px 0 0;}
    .dashDate span {font-size: 24px; color: blue}
    .dashDate td {color: #666; font-size: 18px; text-align: left;}
    .dashDate p {font-size: 14px; text-align: left;}
	/*.mfsNews { padding:5px; }*/
	.mfsNews img { width:100%; margin:0 0 10px 0; }
	
	.mfsPopup { position:fixed; top:0px; left:0px; width:100vw; height:100vh; background-color:rgba(0,0,0,0.36); }
	.mfsPopupBubble { margin:25vh 0 0 25vw; width:50vw; height:50vh; background-color:#fff; color:#000; border-radius:10px; padding:20px; }
	.mfsPopupBubble img { width:60px; height:60px; border-radius:50%; border:1px solid #337ab7; margin:0 10px 20px 0; }
	.mfsPopupBubble span { font-weight:bold; font-size:12px; }
	.mfsPopupCopy { padding:10px 20px; }
	
	
	
	/**/
	.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}
	/**/
	
	.mfsTasksPadding { padding:0px; }
	.mfsAcctPanel { 
    text-align: center;
    padding: 0 0 0 10px;
 }
	
	
    @media (max-width: 767px) {
        /*.navLeft div { float: left; width: 25%;}*/
        .mfsLeftnav {
            height: 80px;
            margin: 0 0 10px 0;
        }
	.mfsTitle img { width:100%; }
	.mfsTopNavIcon { display:none; }
	#mfsTopCenterNav { display:none; }
    }